<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<appSettings>
		<!--<add key="Server" value="192.168.10.36"/>
		<add key="Database" value="AAMS" />
		<add key="LoginName" value="SA" />
		<add key="Passkey" value="8Mu6D59T5iP94j+jGgtORw=="/>
		<add key="LogPath" value="C:\Admin" />
		<add key="MaxConnectionPool" value="50"/>
		<add key="CommProtocol" value="dbmssocn"/>
		<add key="TrustedConnection" value="false"/>-->

		<add key="Server" value="192.168.9.34"/>
		<add key="Database" value="AAMS_TEST" />
		<add key="LoginName" value="AAMSAdmin"/>
		<add key="Passkey" value="rG3KaawpGNrjkAyBvKPxmQ=="/>
		<add key="DOCServer" value="192.168.10.36"/>
		<add key="DOCDatabase" value="AAMSDocument"/>
		<add key="DOCLoginName" value="SA"/>
		<add key="DOCPasskey" value="8Mu6D59T5iP94j+jGgtORw=="/>
		<add key="LogPath" value="C:\Admin" />
		<add key="MaxConnectionPool" value="50"/>
		<add key="CommProtocol" value="dbmssocn"/>
		<add key="TrustedConnection" value="false"/>
		
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<add key="SMTP_SERVER_SPECIFIC" value="220.227.154.35"/>
		<add key="SMTP_SERVER_DEFAULT" value="220.227.154.35"/>
		<add key="SMTP_SERVER_PORT" value="25"/>
		<add key="MAIL_SOURCE" value="admin@aams.com"/>
		
	</appSettings>
</configuration>
